.contactsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.gridItem {
  display: grid;
  grid-template-columns: 1fr 2fr;

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-weight: normal;
    font-size: 0.8rem;
  }
}