.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f9;
}

.main {
  background-color: white;
  height: 11in;
  width: 8.5in;
  overflow: hidden;
  box-shadow: 0 20px 60px 0 rgba(186, 200, 227, 0.1),
    0 16px 36px 0 rgba(186, 200, 227, 0.3);
  padding: 4rem;
}

.title {
  font-size: 3rem;
  width: 100%;
}

.contactGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.gridItem * {
  display: inline;
}

.gridItemDivider {
  width: 10px;
  display: inline-block;
}

.sectionsGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 3rem;
  row-gap: 3rem;
}

.sectionsGrid h2 {
  text-decoration: underline;
}
