.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff2f9;
  height: 11in;
}

.container > div {
  background-color: white;
  box-shadow: 0 20px 60px 0 rgba(186, 200, 227, 0.1), 0 16px 36px 0 rgba(186, 200, 227, 0.3);
  height: 11in;
}

.main {
  max-height: 11in;
  width: 8.5in;
  padding: 3rem 4rem;
  display: grid;
  row-gap: 3rem;
}

.title {
  font-size: 3rem;
  width: 100%;
  height: 4rem;
}

.sectionsGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 3rem;
  row-gap: 4rem;

  h2 {
    height: 2.2rem;
    font-size: 1.3rem;
    width: fit-content;
    border-bottom: 3px solid black;
  }
}
