.linksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 4rem;

  a {
    color: gray;
  }
}