.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
}

.skillContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-weight: normal;
  }
}